* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    .opshi {

        .home1 {

            nav {
                ul {
                    li {
                        list-style: none;
                    }
                }
            }
        }

        .ijtimoiy {
            padding: 0px 0px 0px 160px;
        }

    }

    .aside {
        padding: 20px;
        border-radius: 15px;


        .chap {
            background-color: #E7FAFE;
            border-radius: 20px;
            border: none;

            .text {
                padding: 50px 0px;

            }

            .zzz {
                width: 300px;
            }

            .tugma {

                padding: 8px 10px;
                border-radius: 20px;
                border: none;
            }

            .icon {

                .tugma2 {
                    border-radius: 20px;
                    border: 2px solid rgba(11, 9, 84, 0.253);
                    padding: 5px 10px;
                }
            }

            .profil {
                padding: 100px 0px 0px 0px;



                .tugma1 {
                    background-color: black;
                    border-radius: 15px;
                    border: none;
                    color: white;
                    padding: 12px;
                }
            }

        }

        .ong {
            img {
                border-radius: 20px;
                border: none;
            }

            .zor {
                bottom: 110px;
                left: 40px;
            }

            .zor3 {
                bottom: 105px;
                left: 35px;
            }
        }

    }

    .main {
        bottom: 200px;

        .cat {
            padding: 30px 0px;

            .All {
                padding: 15px;
                background-color: #E7FAFE;
                border: none;
                border-radius: 10px;
            }
        }

        .aralash {
            padding: 30px 0px 80px 0px;

            .brak {
                background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
                border-radius: 15px;
                padding: 20px;
            }

            .vegan {
                background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
                border-radius: 15px;
                padding: 20px;
            }

            .meat {
                background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
                border-radius: 15px;
                padding: 20px;
            }

            .dess {
                background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
                border-radius: 15px;
                padding: 20px;
            }

            .lunch {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
                border-radius: 15px;
                padding: 20px;
            }

            .choco {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
                border-radius: 15px;
                padding: 20px;
            }

        }

        .simple {
            text-align: center;
        }

        .taomlar {


            .big {
                background-color: #E7FAFE;
                border-radius: 20px;

                .big2 {
                    img {
                        border-radius: 20px;
                    }

                    h5 {
                        padding: 15px 0px;
                    }
                }
            }
        }

        .container {
            padding: 50px 0px 50px 0px;

            .text {

                .tugma3 {

                    .quti {
                        background-color: black;
                        color: white;
                        padding: 8px 16px;
                        border-radius: 15px;
                    }
                }
            }

            .oshpazz {
                background-color: #E7FAFE;
                border-radius: 20px;
            }

            .sabzavotlar {
                .gosh {
                    left: 700px;
                    top: 70px;
                }

                .piyoz {
                    left: 1050px;
                    top: 0px;
                }

                .pamidor {
                    left: 560px;
                    top: 200px;
                }

                .karam {
                    left: 1150px;
                }
            }
        }

        .check {
            padding: 50px 0px;
        }

        .container2 {
            background-color: #E7FAFE;

            .katta-insta {

                .insta {
                    background-color: #FFFFFF;

                    .card-headers {
                        padding: 10px;
                        background-color: #FFFFFF;

                        .ffff {

                            img {
                                height: 70%;
                                width: 100%;
                            }

                            .tokyo {
                                font-size: 15px;
                                padding: 0px 0px 0px 10px;

                                p {
                                    padding: 0px 0px 0px 5px;
                                }
                            }
                        }
                    }

                    .layklar {

                        .insta2 {
                            padding: 0px 10px 0px 10px;

                            .layk {
                                color: black;
                                padding: 10px 0px;


                            }

                            .cament {
                                padding: 10px 0px 0px 0px;
                            }
                        }

                        .sew {
                            padding: 0px 10px;
                        }

                        .sep {
                            padding: 0px 10px;
                            color: rgba(0, 0, 0, 0.41);
                        }
                    }
                }
            }

            .iii {
                text-align: center;
                padding: 50px 0px;

                .insta3 {
                    padding: 20px;
                    background-color: black;
                    color: white;
                    border-radius: 20px;
                }
            }

        }

        .container3 {
            padding: 50px 0px;

            .header1 {
                padding: 50px 0px;
            }

            .fast-fut1 {

                .mixed {
                    .mix {
                        padding: 10px 0px;
                    }

                    .yon {
                        padding: 30px 0px 0px 0px;
                    }
                }
            }
        }

        .container4 {
            background-color: #E7FAFE;
            border-radius: 20px;


            .text-oxiri {
                padding: 100px 0px 0px 0px;

                p {
                    padding: 20px 0px;
                }
            }

            .uchta {

                .bbbbb {
                    width: 33.3%;
                }

                .oooo {
                    width: 66.6%;
                }

                .tugma4 {
                    width: 50%;


                    .your {
                        width: 1000px;
                        background-color: #FFFFFF;
                        padding: 20px 10px 20px 20px;
                        border-radius: 20px;
                        border: none;
                        position: relative;
                        top: 200px;

                        p {
                            position: relative;
                            top: 22px;
                            right: 50px;
                        }

                        .sub {
                            padding: 20px 40px;
                            background-color: black;
                            color: white;
                            border-radius: 20px;
                            border: none;
                        }
                    }
                }

                .rasm2 {

                    left: 145px;
                    top: 135px;
                    width: 50%;

                }

            }


        }

        .container5 {


            padding: 100px 0px;


            .navv {
                
                nav {

                   
                    ul {
                        display: flex;
                        gap: 30px;
                        li {
                            list-style: none;
                        }
                    }
                }
            }
        }


    }


}